/* CSS Reset to ensure consistent behavior across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/11.jpeg'); /* Background image from 'public' folder */
    background-size: cover; /* Cover ensures the image fills the whole screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    overflow: hidden; /* Disables scrolling */
}

.game-image {
    display: block; 
    width: 30em; 
    height: auto;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    bottom: -2em;
}
